@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus-visible {
  outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 6px;
  margin: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #6e8ca0;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #6e8ca0;
}

/* Arrows/Spinners Removal */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Example CSS for print styles */
@media print {
  /* Add styles for the calendar when printing */
  .rbc-event {
    border: 1px solid black !important;
    color: black !important;
  }
}

